body {
  color: rgb(207 210 178);
  background-color: rgb(75, 59, 71);
  font-family: 'Amatic SC', cursive;

  /* font-family: 'Rock Salt', cursive; */

  /* font-family: 'Dawning of a New Day', cursive; */
}

h1 {
  font-size: 5em;
  text-align: center;
}
